body{
  margin: 0;
  height: 100vh;
  background-image: url('https://www.ritrjpm.ac.in/gallery/7/272_1new.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box{
    width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    border: 2px solid black;
    border-radius: 12px;
}

h2{
    text-align: center;
    color: white;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(223, 45, 178);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

label {
    width: 150px;
    font-size: 20px;
}

input {
    flex: 1;
    padding: 8px;
    border: 2px solid rgb(54, 109, 10);
}

.button-group{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.login-btn{
    text-align: center;
    margin-top: 25px;
}

button{
    background-color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    background-color: rgb(255, 0, 149);
    color: yellow;
}
