body{
  background-image: url('https://www.ritrjpm.ac.in/gallery/7/272_1new.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login{
    text-align: center;
    margin: 1cm;
}
form{
    text-align: center;
    height: 10cm;
    width: 18cm;
     background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
    font-size: 0.5cm;
    margin-left: 6cm;
    margin-right: 4cm;
    margin-top: 3cm;
    border: 2px solid rgb(1, 0, 3);
    padding: 40px;
    border-radius: 10px;
}
h2{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkgreen;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(223, 45, 178);
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 150px;
    font-size: 22px;
}

input {
    width: 350px;
    padding: 8px;
    border: 2px solid rgb(54, 109, 10);
}
button{
     background-color: white;
    color: black;
    font-weight: bold;
    height: 40px;
    width: 2cm;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
button:hover{
    background-color: rgb(255, 0, 149);
    color: rgb(183, 231, 11);
}